@import "tailwind/_base.css";
@import "tailwind/_components.css";
@import "tailwind/_utilities.css";

@import "_checkbox-radio-switch.css";
@import "_progress.css";
@import "_scrollbars.css";
@import "_table.css";

.v-note-wrapper {
  min-height: 500px;
}
#nprogress .bar {
  background: rgba(37, 99, 235, 0.8) !important;
  height: 5px !important;
  border-radius: 9999px !important;
}
